[Unit]
Description=room-assistant service

[Service]
ExecStart=/usr/bin/room-assistant
WorkingDirectory=/home/room-assistant
Restart=always
RestartSec=10
User=room-assistant

[Install]
WantedBy=multi-user.target
